.App {
  text-align: center;
}

.header-title {
  
    font-size: 60px;
    background-color: antiquewhite;
    text-shadow: rgb(66, 110, 0) -5px 5px, rgb(255, 213, 0) -8px 8px,
      pink -11px 11px, lightblue -15px 15px, rgb(234, 94, 94) -19px 19px;
  }



.articles {
  background-color: #adb9cf;
  border-radius: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.single_article p{ 
  padding: 10px;
  background-color: #adb9cf;
  box-shadow: 7px 2px 10px 2px #1c87c9;

}


.single_article img {
  padding: 20px;
  /* max-width: 300px */
}
.single_article { 
 
  background-color:#2b7c7c;
  

}

.articles_div {
background-color: white;
  /* grid-template-rows: auto; */
  border-color: white;
}
.articles_heading {
  font-size: 38px;
  background-color: grey;
}
.articles_div p, h3{
  color: black;
}
.articles {
  display: grid;
  grid-template-rows: auto;
  row-gap: 2em;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
